@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    padding: 0;
    margin: 0;
    font-family: "Poppins", sans-serif !important;
    font-weight: 400;
    height: 100dvh !important;
}

.hideScrollbar::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.hideScrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
.upcomingBirthday {
    box-shadow: 1px 1px 5px #dcdec7, -5px -5px 21px #ffffff;
    /* background-image: url(./assets/birthDayBanner.png); */
    background-size: 100% 100%;
}

.upcomingBirthday>div:nth-child(2) {
    background-image: url(./assets/dateBg.png);
    background-repeat: no-repeat;
    width: 60px;
    height: 60px;
    border-radius: 20px;
    background-size: contain;
}

.MuiBox-root {
    flex-grow: 1;
}

.mainWrapper {
    background-image: url(../src/assets/desk_bg.png);
    background-color: #c98f2224;
    background-blend-mode: overlay;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
    height: 100vh;
}

.MuiButtonBase-root:hover {
    box-shadow: 0px 0px 32px 9px rgba(0, 0, 0, 0.1);
}

.MuiInputBase-formControl {
    border-radius: 30px !important;
    box-shadow: 4px 4px 5px 0px rgba(0, 0, 0, 0.1);
}

h6,
h5,
input,
label {
    font-family: "Poppins", sans-serif !important;
    font-weight: 400;
}

.MuiTypography-root {
    margin-bottom: 0px !important;
}

.scrollBar-regular-treat {
    overflow: scroll;
    max-height: 580px;
    overflow-x: hidden;
    margin-left: 5px;
}

.scrollBar-regular-treat>div {
    background-color: rgba(255, 255, 255, 0.452) !important;
    margin-right: 5px;
}

.scrollBar-regular-treat>div>div {
    margin-bottom: 0px !important;
}

.scrollBar-regular-treat::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: transparent;
    border-radius: 100px;
}

.scrollBar-regular-treat::-webkit-scrollbar {
    width: 6px;
    background: transparent;
}

.scrollBar-regular-treat::-webkit-scrollbar-thumb {
    background-image: linear-gradient(to top, #d5dee7 0%, #df8714 0%, #ffffff73 100%);
    border-radius: 100px;

}

.MuiInputBase-root {
    height: 40px !important;
}

.css-14s5rfu-MuiFormLabel-root-MuiInputLabel-root {
    margin-top: -10px !important;
}

@keyframes pulse {
    from {
        box-shadow: 0 0 0 0 rgba(255, 255, 255, 1),
            0 0 0 0 rgba(51, 51, 51, 1);
    }

    to {
        box-shadow: 0 0 0 0.65em rgba(255, 255, 255, 1),
            0 0 0 1em rgba(51, 51, 51, 0);
    }
}

@media (max-width: 480px) {
    .mainWrapper {
        background-image: url(../src/assets/mobile_bg.png);
    }
}

.btn-animate {
    background-color: hsl(0, 2%, 16%);
    border-radius: 20px;
    justify-content: center;
    align-items: center;
    transition: all 500ms ease;
    margin-left: 5px;
}

.btn-animate:hover {
    box-shadow: 0 0 20px #e89e00;
}

.text-animate:hover {
    box-shadow: 0 0 10px #e89e00;
    background-color: #e89f0065;
}

.text-animate {
    border-radius: 20px;
    justify-content: center;
    align-items: center;
    transition: all 500ms ease;
    margin-left: 5px;
    display: inline-block;
    cursor: pointer;
    text-decoration: underline;
}

.pulse-single-square {
    box-shadow: 1px 1px 5px #dcdec7, -5px -5px 21px #ffffff;

}

.pulse-single-square>div {
    background: linear-gradient(145deg, #e4e6ce, #fffff5) !important;
}

.pulse-single-square>div>img {
    border-radius: 25px;
    width: 50%;
}

.pulse-single-square>div:hover {
    border-radius: 10px;
    background: #fdffe5 !important;
    box-shadow: 5px 5px 5px #dcdec7,
        -5px -5px 10px #ffffff;
}

.css-r79cuq {
    overflow: scroll;
    overflow-x: hidden;
    height: 400px;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.bottomNavigation{
    border: 1px solid rgba(128, 128, 128, 0.174);
}
/* HTML: <div class="loader"></div> */
.loader {
    width: 40px;
    aspect-ratio: 1;
    display: grid;
    border: 4px solid #0000;
    border-radius: 50%;
    border-color: #ccc #0000;
    animation: l16 1s infinite linear;
  }
  .loader::before,
  .loader::after {    
    content: "";
    grid-area: 1/1;
    margin: 2px;
    border: inherit;
    border-radius: 50%;
  }
  .loader::before {
    border-color: #bb6305 #0000;
    animation: inherit; 
    animation-duration: .5s;
    animation-direction: reverse;
  }
  .loader::after {
    margin: 8px;
  }
  @keyframes l16 { 
    100%{transform: rotate(1turn)}
  }